:root {
  --input: #fafafa;
  --restart: #fde047;
  --main: #ccfbf1;
  --board: #5eead4;
  --github: #222222;
}

@font-face {
  font-family: "title";
  src: url(fonts/PTSerifCaption-Regular.ttf);
}

@font-face {
  font-family: "main";
  src: url(fonts/PTSerifCaption-Italic.ttf);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr 3fr 6em;
}

header {
  place-self: center;
  font-size: 2em;
  font-family: "title", Impact, "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  margin: 0.5em;
}

main {
  width: 500px;
  height: 350px;
  border-radius: 1em;
  background-color: var(--main);
  place-self: start center;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.main {
  align-self: start;
  justify-self: center;
}

.top {
  margin: 0.5em;
  display: grid;
  grid: repeat(2, 1fr) / repeat(2, 1fr);
  place-items: center;
}

.top > * {
  padding: 0.5em;
}

.wiki {
  text-decoration: none;
}

#difficulty,
#token-selector {
  border-radius: 0.25em;
  border: none;
  outline: none;
}

select {
  cursor: pointer;
  background-color: var(--input);
}

.info {
  grid-column: span 2;
  align-self: center;
  justify-self: center;
}

.board {
  justify-self: center;
  align-self: center;
}

.game-board {
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 2px;
}

.game-board button {
  width: 2em;
  height: 2em;
  background-color: var(--board);
  border: none;
  font-size: 1.5em;
  padding: 0;
}

.restart {
  height: 3em;
  width: 10em;
  margin: 0.5em;
  align-self: center;
  justify-self: center;
  border-radius: 1em;
  border: none;
  background-color: var(--restart);
  font-weight: bold;
  letter-spacing: 0.15ch;
}

.restart:hover {
  filter: brightness(95%);
}

.restart:active {
  transform: translateY(0.1em);
}

main,
#difficulty,
#token-selector,
input,
.restart,
footer {
  font-family: "main", Impact, "Arial Narrow Bold", sans-serif;
}

button:hover {
  cursor: pointer;
}

.win-modal {
  background-color: var(--main);
  border-radius: 0.75em;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  top: -160px;
  left: 50%;
  font-family: "title", Impact, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  transform: scale(0);
  transition: 0.2s ease-in-out;
}

.win-modal.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 60%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
  display: block;
}

footer {
  place-self: center;
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
}
/* github links */
.fa-github,
.fa-code {
  color: var(--github);
  font-size: 24px;
  transition: transform 0.4s ease-in-out;
  cursor: default;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.3);
}

.fa-code:hover {
  transform: scale(1.3);
}
